@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}




.fullContainer{
padding-top: 5%;
padding-left: 25%;
width: 100%;
background-color: #fff;
padding-bottom: 5%;
}
.fullContainer h3{
font-size: 30px;
}

.fullContainer .paste{
width: 70%;
background-color: rgb(249, 249, 249);
}
.fullContainer .paste h2{
color: rgb(67, 67, 67);
text-align: center;
font-size: 40px;
padding-top: 5%;
font-weight: 500;
}

.fullContainer .paste .pasteInput{
display: flex;
padding-top: 4%;
padding-left: 10%;
}
.fullContainer .paste .pasteInput input{
width: 70%;
padding-left: 2%;
font-size: 20px;
}
.fullContainer .paste .pasteInput button{
width: 20%;
color: white;
padding: 2% 2%;
background-color: rgb(12, 143, 195);
}
.fullContainer .paste .desc{
padding-left: 10%;
width: 90%;
padding-top: 4%;
padding-bottom: 5%;
}


.long{
margin-top: 3%;
margin-left: 10%;
font-size: 20px;
width: 80%;
color: rgb(87, 87, 87);
word-break: break-all;
}
.link{color: rgb(2, 83, 164);}

.fullContainer .paste h6{
color: rgb(8, 148, 224);
margin-left: 10%;
font-size: 18px;
font-weight: 500;
}
.click{
color: red;
}

#shortAnother{
cursor: pointer;
font-size: 20px;
padding: 1% 4%;
margin-bottom: 5%;
margin-left: 10%;
color: white;
width: 81%;
margin-top: 4%;
margin-bottom: 6%;
background-color: rgb(12, 143, 195);
}
#shortAnother:hover{
text-decoration: underline;
}


@media screen and (max-width: 480px) {
.fullContainer{
padding-top: 10%;
padding-left: 5%;
width: 100%;
padding-bottom: 15%;
}
.text-5xl{
margin-left: 20%;
text-align: center !important;
font-size: 8vw;
}


.fullContainer .paste{
width: 95%;
}
.fullContainer .paste h2{
font-size: 9vw;
width: 90%;
margin-left: 5%;
}

.fullContainer .paste .pasteInput{
padding-left: 5%;
}
.fullContainer .paste .pasteInput input{
width: 70%;
padding-left: 2%;
font-size: 6vw;
}
.fullContainer .paste .pasteInput button{
width: 25%;
padding: 1% 3%;
font-size: 4vw;
}
.fullContainer .paste .desc{
padding-left: 5%;
width: 90%;
padding-top: 4%;
font-size: 5vw;
padding-bottom: 5%;
}

.long{
margin-top: 3%;
margin-left: 5%;
font-size: 5vw;
width: 90%;
}
.fullContainer .paste h6{
margin-left: 5%;
font-size: 5vw;
width: 90%;

}
#shortAnother{
cursor: pointer;
font-size: 6vw;
padding: 2% 4%;
margin-bottom: 10%;
margin-left: 10%;
color: white;
width: 80%;
margin-top: 4%;
margin-bottom: 10%;
}
}



@media screen and  (min-width: 481px) and (max-width: 1100px) {
.fullContainer{
padding-top: 10%;
padding-left: 5%;
width: 100%;
padding-bottom: 15%;
}
.text-5xl{
margin-left: 20%;
text-align: center !important;
font-size: 8vw;
}


.fullContainer .paste{
width: 95%;
}
.fullContainer .paste h2{
font-size: 9vw;
width: 90%;
margin-left: 5%;
}

.fullContainer .paste .pasteInput{
padding-left: 5%;
}
.fullContainer .paste .pasteInput input{
width: 70%;
padding-left: 2%;
font-size: 6vw;
}
.fullContainer .paste .pasteInput button{
width: 25%;
padding: 1% 3%;
font-size: 4vw;
}
.fullContainer .paste .desc{
padding-left: 5%;
width: 90%;
padding-top: 4%;
font-size: 5vw;
padding-bottom: 5%;
}

.long{
margin-top: 3%;
margin-left: 5%;
font-size: 5vw;
width: 90%;
}
.fullContainer .paste h6{
margin-left: 5%;
font-size: 5vw;
width: 90%;

}
#shortAnother{
cursor: pointer;
font-size: 6vw;
padding: 2% 4%;
margin-bottom: 10%;
margin-left: 10%;
color: white;
width: 80%;
margin-top: 4%;
margin-bottom: 10%;
}
}